html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #000;
}

#desktop-core {
  width: 100%;
  height: 100%;
  background-image: url("assets/bild_01_hg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
